*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    background: #f2f2f2;
}
.container{
    background: white;
    width: 500px;   
    padding: 25px;
    margin: 50px auto 0;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);

}
.container h2{
   font-size: 38px;
   line-height: 24px;
   padding: 30px;
   text-align: center;
}
.input-name{
  width: 90%;
  position: relative;
  margin: 20px auto;

}
.symbol{
    padding: 8px 11px;

}
.name{
    width: 45%;
    padding: 8px 0 8px 40px ;

}
.input-name span{
    margin-left: 35px;

}
.Email{
    width: 100%;
    padding: 8px 0 8px 40px ;

}
.Password{
     width: 100%;
    padding: 8px 0 8px 40px ;
    border: 1px solid #cccccc;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;

}
.email{
  padding: 8px;

}
.button{
    
    text-align: center;
    font-size: 30px;
    background-color: blue;
    color: white;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 10px;

}
.button:hover{
    color: black;
}
.radio-button{
    margin-right: 4px;

}
.radio-button:hover{
    color: blue;
}
.country{
    display: inline-block;
    width: 100%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    border: 1px solid #cccccc;
    color: #7b7b7b;
    border-radius: 0;
    background: white;
    font-size: 17px;
}
.country:hover,.country:focus{
    color: black;
    background: #fafafa ;
    outline: none;

}

.check-button{
   transform: scale(1.5); /* Increase to 150% */
  margin-right: 10px;
  cursor: pointer;
  accent-color: blue;
}
.checktext{
    font-size: 20px;

}